@page
@using System.Globalization
@using Diversifolio
@using Diversifolio.Pages
@model IndexModel
@{
    ViewData["Title"] = "Home page";
}

<div class="text-center">
    <h1 class="display-4">@IndexModel.PortfolioName</h1>
</div>

<table>
    <caption style="caption-side: top">@nameof(Model.PortfolioAssetsByClass)</caption>
    <tbody>
    @{
        CultureInfo p = FormattingHelpers.FormatProvider;

        IOrderedEnumerable<IGrouping<AssetClass, Asset>> ordered =
            Model.PortfolioAssetsByClass.OrderBy(it => it.Key, AssetClassComparer.Instance);

        int groupIndex = 0;
        foreach (IGrouping<AssetClass, Asset> grouping in ordered)
        {
            bool needsBorder = groupIndex++ > 0;
            IOrderedEnumerable<Asset> orderedAssets = grouping.OrderByDescending(it => it.Value.Amount);
            foreach (Asset asset in orderedAssets)
            {
                string? rowStyle = needsBorder ? "border-top: 1px solid" : null;
                needsBorder = false;
                <tr style="@rowStyle">
                    <td>@asset.Ticker</td>
                    <td style="font-family: monospace; float: right">@asset.Value.Amount.ToString("F2", p)</td>
                </tr>
            }
        }
    }
    </tbody>
</table>
